body{
    margin: 0;
    width: 100%;
    background-color:white; 
}

#header-titulo{

    display: flex;
    justify-content: center;
    align-items: center;

}

.header-top{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}