@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container{

    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.212); 
}

.form-image img{

    width: 100%;
    height: 100%;    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;

}

.form{

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
}

.form-header{

    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;


}

.login-button{

    border: none;
    background-color: white;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button-hover{

    background-color: white;
}

.login-button button a{

    text-decoration: none;
    font-weight: 500;
    color: black;

}

.form-header h1::after{

    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: white;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;

}

.input-group{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;


}

.input-box{

    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;

}

.input-box input{

    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

.input-box input:hover{

    background-color: #eeeeee75;
}

.input-box input:focus-visible{

    outline: 1px solid black;


}

.input-box label,
.gender-title h6{

    font-size: 0.75rem;
    font-weight: 600;
    color: black;
}

.input-box input::placeholder{

    color: #000000be;
}

.gender-grop{

    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-input{

    display: flex;
    align-items: center;

}

.gender-input input{

    margin-right: 0.35rem;



}

.gender-input label{

    font-size: 0.81rem;
    color: #0000001c;
    font-weight: 600;

}

.continue-button button{

    width: 100%;
    margin-top: 2.5rem;
    border: none;
    padding: 0.62rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;

}

.continue-button button:hover{

    background-color: #0000000c;
}

.continue-button button a {

    text-decoration: none;
    font-size: 0.93;
    font-weight: 500;
    color: white;
}

@media screen and (max-widht: 1330px){
            
    .form-image{

        display: none;
        
    }

    .form{

        width: 100%;
    }
}

@media screen and(max-widht: 1064px){

    .container{
        height: auto;
        width: 90%;

    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }

    .gender-input{
        margin-top: 2rem;

    }
    .gender-grop{
        flex-direction: columns;

    }
    .gender-input{

        margin-top: 0.5rem;
    }
}

