.carrinho-tela{
    z-index: 999;
    display: block;
    height: 498px;
}


.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 23vh !important; 
    padding: 20px; 
    box-sizing: border-box; 
    z-index: 10;
}


.card-carrinho {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    max-width: 1200px; 
    padding: 20px; 
    box-sizing: border-box; 
}


.card-left, .card-right {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    border-top: 2px solid #ccc;
    border-bottom: 1px solid #000000;
}

.card-left {
    border-right: 2px solid #ccc;
}


.button1 button, .button2 button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    width: 100%; 
    max-width: 200px; 
    margin-top: 10px; 
}

.card-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-carrinho {
    display: flex;
    align-items: flex-start;
}

.img-carrinho img {

    height: 50%;
    width: 50%;
}

.info-carrinho {
    flex: 1; 
    margin-left: 10px; 
}



.valor-produto {
    color: green; 
}

.nome-produto, .valor-produto, .quantidade-produto {
    margin-bottom: 10px; 
}

.card-carrinho {
    display: flex;
    justify-content: space-between; 
}

.card-left{

    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 1px solid #000000;

}

.card-right{


    border-top: 2px solid #ccc;
    border-bottom: 1px solid #000000;
}



.card-left, .card-right {
    width: 50%; 
    padding: 20px; 
    box-sizing: border-box; 
    height: auto;
}

.valor-total-produtos{

    display: flex;
    align-items: center;
    justify-content:  space-between;
}

.custo-total{

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.infos-text h6{
    margin: 5px 0; 
    color: rgb(0, 0, 0);
}

.card-right-low {
    border-top: 1px solid #000000; 
}

.card-right-low .preco-total{

    display: flex;
    justify-content: space-between;
}

.buttons{

    display: block;

}

.infos-text{

}


.button1 button {
    background-color: #007bff; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 10px; 
    cursor: pointer; 
    outline: none;  
    transition: background-color 0.3s, color 0.3s; 
    width: 200px; 
}

.button1 button:hover {
    background-color: black;
    color: white;
}

.button2 button {
    background-color: white; 
    color: black; 
    border: 1px solid black; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 10px; 
    cursor: pointer; 
    outline: none;  
    transition: background-color 0.3s, color 0.3s; 
    width: 200px; 
}

.button2 button:hover {
    background-color: black;
    color: white;
}

.card-produto{
    width: 300px
    height: 278px;
}

.card{

    height: 278px;
}

.separar-carrinho{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.card{
    margin-right: 5px;
}