*{

    margin: 0;
    padding: 0;
    border: none;
   outline: none;
   user-select: none;
   box-sizing: border;
   list-style: none;
}
 

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--cor-primeira);

}

.carrinho{

    width: 400px;
    height: min-content;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 49%, rgba(181,181,181,1) 96%);
    padding: 35px;
    border: 1px solid rgba(181, 181, 181, 1);
}

.carrinho .cabecario-carrinho{

  display: flex;
  justify-content: space-between;

}

.carrinho .cabecario-carrinho button{

    cursor: pointer;
    width: 44px;
    height: 48px;
    line-height: 50%;
    font-size: 2rem;
    background-color: snow;
    border-radius: 5px;
    border: 1px solid #E9E9E9;
    outline: none;
}

.carrinho .cabecario-carrinho button:hover{

    background-color: gainsboro;
    border: black;

}

.carrinho .cabecario-carrinho h3{
    padding-right: 100px;
}

.carrinho .carrinho-item{

    display:  flex;
    background-color: #fff;
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-radius: 8px;
    box-shadow: 0 4px 18px #2a2f430f;



}

.carrinho .carrinho-item .imagem{
    width: 75px;
    height: 75px;
    border: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.carrinho .carrinho-item img{
    width: 100%;
    height: 100%;
}

.carrinho .carrinho-item .info{
    
    width: 60%;
    padding: 14px;
 
}

.carrinho .carrinho-item h4{

    color: black;
    font: 700 1.25rem 'Poppins';

}

.carrinho .carrinho-item .detalhes{

    display: flex;
    gap: 10px;
}

.carrinho .carrinho-item .detalhes i{

    font-size: 1.0625rem 'Poppins';
}

.carrinho .carrinho-item .detalhes span{

    font-size: 1.075rem 'Poppins';
    color: black;
}

.carrinho .carrinho-item .preco{

    color: black;
    font-size: 1.125 'Poppins';
    margin-top: 2px;
}

.carrinho .carrinho-item .separador-menos-mais{

    position: absolute;
    right: 15px;
    bottom: 0;
    display: flex;
}

.carrinho .carrinho-item .separador-menos-mais i{

    cursor: pointer;
    width: 25px;
    height: 35px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
    line-height: 35px;
    background: black;
    color: white;
   

}

.carrinho .carrinho-item .separador-menos-mais span{

    margin: 0 6px;
    color: gray;
    font-size: 1rem 'Poppins';

}

.carrinho .carrinho-item .separador-mais{

    background-color: black;
    color: white;
  
}

.carrinho .carrinho-item .separador-menos{

    background-color: black;
    color: white;
    
}

.carrinho .button-pagar-carrinho{

    font: 500 1rem 'Poppins';
    cursor: pointer;
    width: 100%;
    color: white;
    padding: 15px 0;
    background-color: black;
    border-radius: 8px;
    margin-top: 10px;
    transition: .3s;

}

.carrinho .button-pagar-carrinho:hover{

    background-color: #2a2f43f1;
}