main{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 25px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 49%, rgba(181,181,181,1) 96%);
   
}
.main-top{
   
    width: 65%;
    height: auto;
    border: 1px solid black;
}


.carousel-inner{

    width: 100%;
    height: 46vh;
}

.w-100{

    width: 100%!important;
    height: 46vh;
}

.produtos-main{

    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    gap: 45px;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
   
    padding: 10px;
    
}


.card{
    display: flex;
    align-items: center;
}

.card-home-item{
    align-items: center;
}

.preco-icones{

    margin-left: 10px;
}



.card-text{

    margin-top: 43px;
    margin-left: -136px;
}

footer{
    
    background-color: black;
   
    
}



.text-body{
    
    color: white;
}

p{
    
    color: white;
}

.mb-4{
    
    color: white;
}

.row-d-flex justify-content-center{
    
    margin-left: -250px;
}

.seta2{
    right: 650px;
    top: -250px;
}

a.carousel-control-prev {
    left: 0 !important;
    top: 0 !important;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}


.fa-solid {
    color: white;
}

.card-title{

    position: none;
    
    font-size: 17px;
    }

.fa-cart-shopping2{

    color: black;
}


.proximo{

    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    height: 100%;
}

.carousel-inner {
    width: 100%;
    height: 29vh;
}

.pb-5, .py-5 {
    padding-bottom: 1rem !important;
}

.category {
    display: flex;
    align-items: baseline;
    justify-content: center;
    }

.btn-car{
    height: 27px;
    width: 27px;
}

.container-produto-unico{

    display: grid;
    grid-template-columns: 1fr 1fr;
}



.meu-carrinho{

    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center .row{

   
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color: black;
}

.carousel-control-prev {
    left: 0px; 
     top: 0px; 
}

.p-4 {
    padding: 0; 
}

.perfil-tela-adm{
    
    position: relative;
    display: inline-block;
}

.perfil-tela-adm select{
    
   display: none; 
}

.in-cart .fa-cart-shopping {
    color: green; /* Cor desejada quando está no carrinho */
}