
main{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    padding: 25px;
    background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 49%, rgba(181,181,181,1) 96%);
   
}
.main-top{
   
    width: 65%;
    height: auto;
    border: 1px solid black;
    
    

}

.carousel-inner{

    width: 100%;
    height: 46vh;
}

.w-100{

    width: 100%!important;
    height: 46vh;
}

.produtos-main{

    justify-content: center;
    align-items: center;
    display: flex;
    align-content: center;
    margin-top: 10px;
    
}


.card{
    display: flex;
    align-items: center;
}

.card-home-item{
    align-items: center;
}

.preco-icones{

    margin-left: 10px;
}



.card-text{

    margin-top: 43px;
    margin-left: -136px;
}

footer{
    
    background-color: black;
    margin-top: 50px;
    
}



.text-body{
    
    color: white;
}

p{
    
    color: white;
}

.mb-4{
    
    color: white;
}

.row-d-flex justify-content-center{
    
    margin-left: -250px;
}

.seta2{
    right: 650px;
    top: -250px;
}

.carousel-control-prev {
    left: -80px;
    top: -250px;
}

.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}

